:root {
  --main-bg-colour: #CE4257;
  --main-text-colour:#4F000B;
  --emphasis-colour: #FF7F51;
  --dark-bg-colour: #720026;
  --light-text-colour:#FF9B54;
  --shadow-color: 351deg 55% 22%;
  --shadow-elevation-medium:
    0.4px 0.7px 1.1px hsl(var(--shadow-color) / 0.14),
    1.8px 2.9px 4.6px -0.3px hsl(var(--shadow-color) / 0.25),
    3.8px 6.2px 9.9px -0.6px hsl(var(--shadow-color) / 0.36),
    8.2px 13.5px 21.4px -0.9px hsl(var(--shadow-color) / 0.48);
    --shadow-elevation-low:
    0.4px 0.7px 1.1px hsl(var(--shadow-color) / 0.13),
    0.8px 1.2px 2px -0.5px hsl(var(--shadow-color) / 0.28),
    1.6px 2.7px 4.3px -0.9px hsl(var(--shadow-color) / 0.42);
}

* {
  padding: 0;
  margin: 0;
  font-family: Neuton, serif;
}

h1 {
  font-size: 4rem;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-size: 1.25rem;
}
 a {
  color: var(--light-text-colour);
 }

 select {
  font-size: 1.25rem;
 }

.header { 
  padding: 3%
}

#container {
  background-color: var(--emphasis-colour);
  border-radius: 50px;
  padding: 10px 50px;
  stroke: var(--main-text-colour);
  max-height: 20%;
}

.main {
  background-color: var(--emphasis-colour);
  height: 50%;
  border-radius: 50px;
  padding: 0 4% 0 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: var(--shadow-elevation-medium);
}

.score {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 10%;
}

form {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  min-height: 60%;
}

#check-answer {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  min-width: 300px;
  font-size: 1.3rem;
  background: var(--main-bg-colour);
  border: 3px, solid, var(--main-text-colour);
  border-radius: 10px;
  box-shadow: var(--shadow-elevation-low);
}

#check-answer:hover {
  background-color: var(--dark-bg-colour);
  color: var(--light-text-colour);
}

#check-answer:active {
  background-color: var(--dark-bg-colour);
  color: var(--light-text-colour);
  box-shadow: none;
}

#result {
  opacity: 0;
}

label {
  font-family: Inconsolata, sans-serif;
  padding-left: 8px;
}

select {
  font-family: Inconsolata;
  background: var(--emphasis-colour);
  border:var(--dark-bg-colour);
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.footer {
  background-color: var(--dark-bg-colour);
  width: 100vw;
  height: 10%;
  color: var(--light-text-colour);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Inconsolata;
  text-align: center;
}

@keyframes fade-in-out {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {opacity: 0.0;}
}
.fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

