:root {
  --main-bg-colour: #CE4257;
  --main-text-colour:#4F000B;
  --emphasis-colour: #FF7F51;
  --dark-bg-colour: #720026;
  --light-text-colour:#FF9B54;

}

* {
  padding: 0;
  margin: 0;
  font-family: Neuton;
}

h1 {
  font-size: 3rem;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-colour);
  color: var(--main-text-colour);
}

.header { 
  padding: 3%
}

#container {
  background-color: var(--emphasis-colour);
  border-radius: 50px;
  padding: 10px 50px;
  stroke: var(--main-text-colour);
  max-height: 20%;
}

.main {
  background-color: var(--emphasis-colour);
  height: 50%;
  border-radius: 50px;
  padding: 0 4% 0 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 10%;
}

form {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  min-height: 60%;
}

#new-question {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  min-width: 300px;
  font-size: 1.1rem;
  background: var(--main-bg-colour);
  border: 3px, solid, var(--main-text-colour);
  border-radius: 10px;
}

#result {
  opacity: 0;
}

label {
  font-family: Inconsolata;
  padding-left: 8px;
}

select {
  font-family: Inconsolata;
  background: var(--emphasis-colour);
  border:var(--dark-bg-colour);
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.footer {
  background-color: var(--dark-bg-colour);
  width: 100vw;
  height: 10%;
  color: var(--light-text-colour);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Inconsolata;
}

@keyframes fade-in-out {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {opacity: 0.0;}
}
.fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 2s;
}

